name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  rust:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2

      - name: Cargo check
        run: cargo check --locked

      - name: Cargo fmt
        run: cargo fmt --check

      - name: Cargo clippy
        run: cargo clippy --locked -- -D warnings

      - name: Compile tests
        run: cargo test --locked --no-run

      - name: Run tests (10s timeout)
        run: timeout 10s cargo test --locked -q
